@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0; margin: 0; box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e3e3e6;
}

.container {
    background-color: #f7f7f7;
    width: 27rem;
    margin: 1rem auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0.8rem;
}

img {
    width: 6rem;
    margin: 0 0 0 9.5rem;
    border-radius: 10px;
}

.container h3 {
    font-size: 0.6rem;
    text-align: center;
}

.container h2 {
    text-align: center;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid rgb(170, 168, 168);
}

.container form {
    margin: 0 1rem;
    font-size: 15px;
}

.form-group {
    display: grid;
    grid-template-columns: 150px 250px;
    border-bottom: 1px solid rgb(209, 208, 208);
    padding: 1rem 0;
}

#invalidEmail {
    color: red;
    visibility: hidden;
}

.marital-status {
    display: inline-block;
}

.form-group input {
    margin: 4px 0;
    padding: 3px;
    border-radius: 2px;
    border: 0.1px solid #000;
}

.form-group input:focus  {
    outline: none;
}

.form-group select {
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
}

#myfile {
    width: 13rem;
}

.container > form > button {
    padding: 0.6rem 2.4rem;
    margin: 1rem 0 0 8rem;
}